*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}

body {
    min-height: 100vh;;
    background: #00ffff;
    background-image: url('bk_1.jpg');
    background-size: cover;
    background-position: inherit;
}

.about{
    background-image: url('bk_1.jpg');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    background-position:inherit;
    background: rgba(243, 240, 245, 0.774);
    text-align: center;
    display: inline-flex;
    width:auto;
    margin: 100px;
    padding: 50px;
    border-radius: 10px;
}
