*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}

body {
    min-height: 100vh;;
    background: #00ffff;
    background-image: url('bk_1.jpg');
    background-size: cover;
    background-position: inherit;
}

.about{
    background-image: url('bk_1.jpg');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-position: ;
}